<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>API 2FA</title>
  </head>

  <body>
    <header class="row">
      <div class="col s2 center" style="background: #ffffff; min-height: 50px;padding: 0px 15px 0 0;">
        <img src="https://cdn-smsmasivos.sfo2.digitaloceanspaces.com/app/logo-users/sms-01.svg" alt="SMSMasivos" class="dark-logo" width="120" height="50">
        <img src="https://cdn-smsmasivos.sfo2.digitaloceanspaces.com/app/logo-users/sms-02.svg" alt="SMSMasivos" class="dark-logo" width="40" height="50">
      </div>

      <div class="col s10" style="background:linear-gradient(to left, #14477e, #5bcbf4);min-height: 55px;padding: 0px 15px 0 0;"></div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col s12 m12">
          <h4 style="color:#14477e;">
            Autenticaci&oacute;n de doble factor
          </h4>
        </div>
      </div>

      <div class="row">

        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              
              <div class="row">
                <div class="input-field col s12 m12">
                  <i class="material-icons prefix ">vpn_key</i>
                  <input id="api" type="text" name="api" />
                  <label for="api">API KEY</label>
                </div>
              </div>
              
              <div class="row">
                <ul id="tabs-swipe-demo" class="tabs">
                  <li class="tab col s6">
                    <a class="active" href="#reg-tab">Registro</a>
                  </li>
                  <li class="tab col s6">
                    <a href="#validation-tab">Validaci&oacute;n</a>
                  </li>
                </ul>
                <div id="reg-tab" class="col s12">
                  <br>
                  <form
                    class="col s12 m12"
                    id="regform"
                  >
                    <div class="input-field col s12 m12">
                      <i class="material-icons prefix ">list</i>
                      <input id="nombre" type="text" name="api" />
                      <label for="nombre">Nombre de la compa&ntilde;ia</label>
                    </div>

                    <div class="input-field col s4 m4">
                      <i class="material-icons prefix ">phone</i>
                      <select id="country">
                        <option value="52" selected>México</option>
                        <option value="1">USA</option>
                        <optionvalue="18">Republica dominicana</option>
                        <option value="34">España</option>
                        <option value="51">Peru</option>
                        <option value="53">Cuba</option>
                        <option value="54">Argentina</option>
                        <option value="55">Brasil</option>
                        <option value="56">Chile</option>
                        <option value="57">Colombia</option>
                        <option value="58">Venezuela</option>
                        <option value="502">Guatemala</option>
                        <option value="503">El Salvador</option>
                        <option value="504">Honduras</option>
                        <option value="505">Nicaragua</option>
                        <option value="506">Costa Rica</option>
                        <option value="507">Panama</option>
                        <option value="591">Bolivia</option>
                        <option value="593">Ecuador</option>
                        <option value="598">Uruguay</option>
                      </select>
                    </div>
                    <div class="input-field col s8 m8">
                      <input id="destination" type="tel" /*class="validate"*/
                      name="destination" />
                      <label for="destination">Destinatario</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <h6>Longitud de c&oacute;digo</h6>
                      <p>
                        <label>
                          <input name="group1" type="radio" value="4" checked />
                          <span>4</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input name="group1" type="radio" value="5" />
                          <span>5</span>
                        </label>
                      </p>                      
                    </div>

                    <div class="input-field col s12 m12">
                        <h6>Formato</h6>
                      <p>
                        <label>
                          <input name="group2" type="radio" value="json" checked />
                          <span>JSON</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input name="group2" type="radio" value="xml"/>
                          <span>XML</span>
                        </label>
                      </p>                      
                    </div>
                  </form>
                  <div class="col s12 m12 center">
                      <button
                        class="btn waves-effect waves-light blue darken-1"
                        type="submit"
                        name="action"
                        form="regform"
                      >
                        Enviar
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </div>



                <div id="validation-tab" class="col s12">
                  <br>
                  <form
                    class="col s12 m12"
                    id="valform"
                  >
                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix ">phone</i>
                      <input id="destination_ve" type="text"
                      name="destination_ve" />
                      <label for="destination">Destinatario</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <i class="material-icons prefix ">edit</i>
                      <input id="verification" type="text"
                      name="verification" />
                      <label for="verification">C&oacute;digo de verificaci&oacute;n</label>
                    </div>

                    <div class="input-field col s12 m12">
                        <h6>Formato</h6>
                      <p>
                        <label>
                          <input name="group3" type="radio" value="json" checked />
                          <span>JSON</span>
                        </label>
                      </p>
                      <p>
                        <label>
                          <input name="group3" type="radio" value="xml"/>
                          <span>XML</span>
                        </label>
                      </p>                      
                    </div>
                  </form>
                  <div class="col s12 m12 center">
                      <button
                        class="btn waves-effect waves-light blue darken-1"
                        type="submit"
                        name="action"
                        form="valform"
                      >
                        Validar
                        <i class="material-icons right">check</i>
                      </button>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row w">
        <div class="col s6 m6 offset-s3 offset-m3">
          <h6 class="valign-wrapper center-align">
            <i class="material-icons">warning</i>&nbsp;&nbsp; Por favor,
            recuerda cambiar tu api key
          </h6>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        
        $(document).ready( function(){
            $("select").formSelect();
            $(".tabs").tabs();
        })

        //FUNCTION TO REGISTER A NUMBER (double factor authentication)
        $("#regform").validate({
          rules: {
            destination: {
              required: true,
              minlength: 10
            }
          },
          messages: {
            destination: {
              required: "Requerido",
              minlength: "M\u00EDnimo 10 d\u00EDgitos"
            }
          },errorElement: "span",errorPlacement: function(error, element) {
            var placement = $(element).data("error");
            if (placement) {
              $(placement).append(error);
            } else {
              error.insertAfter(element);
            }
          },
          submitHandler: function() {
            var api = $("#api").val();
            var nombre = $("#nombre").val();

            if (api.trim() == "") {
              swal({
                title: "Advertencia",
                text:
                  "Debes introducir tu ApiKey para poder enviar mensajes",
                icon: "warning"
              });
              return;
            }

            
            $.ajax({
              dataType: "text",
              url: "/authRegister",
              type: "get",
              data: {
                country: $("#country option:selected").val(),
                addressee: $("#destination").val(),
                digits: $("input[name=group1]:checked").val(),
                formato: $("input[name=group2]:checked").val(),
                name: nombre,
                api: api
              },
              success: function(response){
                
                if($("input[name=group2]:checked").val() === "json"){
                  var data = JSON.parse(response)
                  if(data.success){
                    $("#regform").get()[0].reset();
                    swal("Mensaje",'El código de verificación fue enviado correctamente',"info");
                  }else{
                    swal("Error",data.message, "warning");
                  }
  
                }else if($("input[name=group2]:checked").val() === "xml"){
                  
                  var parser = new DOMParser();
                  xmlDoc = parser.parseFromString(response,"text/xml");
  
                  if(xmlDoc.getElementsByTagName("hash")[0].childNodes[0].textContent == "true"){
                    $("#regform").get()[0].reset();
                    swal("Mensaje",'El código de verificación fue enviado correctamente',"info");
                  }else{
                    swal("Error",xmlDoc.getElementsByTagName("hash")[0].childNodes[1].textContent, "warning");
                  }
                  
                }
                
              }
            })

          }
        });



        //FUNCTION TO VALIDATE A NUMBER (double factor authentication)
        $("#valform").validate({
          rules: {
            destination_ve: {
              required: true
            },
            verification: {
              required: true,
              minlength: 4
            }
          },
          messages: {
            destination_ve: {
              required: "Requerido"
            },
            verification: {
              required: "Requerido",
              maxlength: "Deben ser por lo menos 4 caracteres"
            }
          },
          errorElement: "span",
          errorPlacement: function(error, element) {
            var placement = $(element).data("error");
            if (placement) {
              $(placement).append(error);
            } else {
              error.insertAfter(element);
            }
          },
          submitHandler: function() {
            var api = $("#api").val();

            if (api.trim() == "") {
              swal({
                title: "Advertencia",
                text:
                  "Debes introducir tu ApiKey para poder enviar mensajes",
                icon: "warning"
              });
              return;
            }


            $.ajax({
              dataType: "text",
              url: "/authValidation",
              data: {
                dest: $("#destination_ve").val(),
                codigo: $("#verification").val(),
                formato: $("input[name=group3]:checked").val(),
                api: api
              },
              method: "get",
              success:function(response) {
                
                if($("input[name=group3]:checked").val() === "json"){
                  var data = JSON.parse(response)
                  if(data.success){
                    $("#valform").get()[0].reset();
                    swal("Mensaje",data.message,"info");
                  }else{
                    swal("Error",data.message, "warning");
                  }

                }else if($("input[name=group3]:checked").val() === "xml"){
                  
                  var parser = new DOMParser();
                  xmlDoc = parser.parseFromString(response,"text/xml");

                  if(xmlDoc.getElementsByTagName("hash")[0].childNodes[0].textContent == "true"){
                    $("#valform").get()[0].reset();
                    swal("Mensaje",'El código de verificación fue validado correctamente',"info");
                  }else{
                    swal("Error",xmlDoc.getElementsByTagName("hash")[0].childNodes[1].textContent, "warning");
                  }
                  
                }

              }
            });

          }
        });
    </script>
  </body>
</html>
