<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API Envios</title>
    
  </head>

  <body>
    <header class="row">
      <div class="col s2 center" style="background: #ffffff; min-height: 50px;padding: 0px 15px 0 0;">
        <img src="https://cdn-smsmasivos.sfo2.digitaloceanspaces.com/app/logo-users/sms-01.svg" alt="SMSMasivos" class="dark-logo" width="120" height="50">
        <img src="https://cdn-smsmasivos.sfo2.digitaloceanspaces.com/app/logo-users/sms-02.svg" alt="SMSMasivos" class="dark-logo" width="40" height="50">
      </div>

      <div class="col s10" style="background:linear-gradient(to left, #14477e, #5bcbf4);min-height: 55px;padding: 0px 15px 0 0;"></div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col s12 m12">
          <h4 style="color:#14477e;">Redactar Mensaje</h4>
        </div>
      </div>

      <div class="row">

        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <div class="row">
                <div class="input-field col s12 m12">
                  <i class="material-icons prefix ">vpn_key</i>
                  <input id="api" type="text" name="api" />
                  <label for="api">API KEY</label>
                </div>
              </div>

              <div class="row">
                <form
                  class="col s12 m12"
                  id="apiform"
                >
                  <div class="input-field col s12 m12">
                    <i class="material-icons prefix ">list</i>
                    <input id="nombre" type="text" name="api" />
                    <label for="nombre">Nombre</label>
                  </div>

                  <div class="input-field col s4 m4">
                    <i class="material-icons prefix ">phone</i>
                    <select id="country">
                      <option value="52" selected>México</option>
                      <option value="1">USA</option>
                      <optionvalue="18">Republica dominicana</option>
                      <option value="34">España</option>
                      <option value="51">Peru</option>
                      <option value="53">Cuba</option>
                      <option value="54">Argentina</option>
                      <option value="55">Brasil</option>
                      <option value="56">Chile</option>
                      <option value="57">Colombia</option>
                      <option value="58">Venezuela</option>
                      <option value="502">Guatemala</option>
                      <option value="503">El Salvador</option>
                      <option value="504">Honduras</option>
                      <option value="505">Nicaragua</option>
                      <option value="506">Costa Rica</option>
                      <option value="507">Panama</option>
                      <option value="591">Bolivia</option>
                      <option value="593">Ecuador</option>
                      <option value="598">Uruguay</option>
                    </select>
                  </div>
                  <div class="input-field col s8 m8">
                    <input id="destination" type="tel" /*class="validate"*/
                    name="destination" />
                    <label for="destination">Destinatario</label>
                  </div>

                  <div class="input-field col s12 m12">
                    <i class="material-icons prefix">sms</i>
                    <textarea
                      id="textarea1"
                      class="materialize-textarea"
                      data-length="160"
                      name="content"
                    ></textarea>
                    <label for="textarea1">Texto del Mensaje</label>
                  </div>
                  <div class="input-field col s12 m12">
                    <p>
                      <label>
                        <input type="checkbox" id="sandbox" />
                        <span for="sandbox"> Sandbox</span>
                      </label>
                    </p>
                  </div>
                </form>
                <div class="col s6 m6 center">
                  <button
                    class="btn waves-effect waves-light blue darken-1"
                    type="submit"
                    name="action"
                    form="apiform"
                  >
                    Enviar
                    <i class="material-icons right">send</i>
                  </button>
                </div>
                <div class="col s6 m6 center">
                  <button
                    id="request_credits"
                    class="btn waves-effect waves-light blue darken-1"
                    name="credit"
                    for=""
                  >
                    Credito
                    <i class="material-icons right">attach_money</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row w">
        <div class="col s6 m6 offset-s3 offset-m3">
          <h6 class="valign-wrapper center-align">
            <i class="material-icons">warning</i>&nbsp;&nbsp; Por favor,
            recuerda cambiar tu api key
          </h6>
        </div>
      </div>
    </div>

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"
          >OK</a
        >
      </div>
    </div>

   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script>
        
        $(document).ready( function(){
            $("select").formSelect();
            $(".tabs").tabs();
        })

        //Event to send a message
        $("#apiform").validate({
          rules: {
            destination: {  
              required: true,
              minlength: 10
            },
            content: {
              required: true,
              maxlength: 160
            }
          },
          messages: {
            destination: {
              required: "Requerido",
              minlength: "M\u00EDnimo 10 d\u00EDgitos"
            },
            content: {
              required: "Requerido",
              maxlength: "No puede exceder 160 caracteres"
            }
          },
          errorElement: "span",
          errorPlacement: function(error, element) {
            var placement = $(element).data("error");
            if (placement) {
              $(placement).append(error);
            } else {
              error.insertAfter(element);
            }
          },
          submitHandler: function() {
            var api = $("#api").val();
            var nombre = $("#nombre").val();
            var sandbox = "";

            if ($("#sandbox:checked").length) {
              sandbox = 1;
            } else {
              sandbox = 0;
            }

            if (api.trim() == "") {
              swal("Advertencia","Debes introducir tu ApiKey para poder enviar mensajes","warning");
              return;
            }

            $.ajax({
              dataType: "text",
              url: "/sendMessage",
              data: {
                country: $("#country option:selected").val(),
                addressee: $("#destination").val(),
                message: $("#textarea1").val(),
                sandbox: sandbox,
                name: nombre,
                api: api
              },
              method: "get",
              success: function(response){
                var data = JSON.parse(response)
                if(data.success){
                  $("#apiform").get()[0].reset();
                  swal("Mensaje",data.message,"info");
                }else{
                  swal("Error",data.message, "warning");
                }
                
                
              }
            });
          }
        });



        //Event to get the credits
        $("#request_credits").on("click", e => {
          
          var api = $("#api").val();
          if (api.trim() == "") {
              swal("Advertencia","Debes introducir tu ApiKey para poder enviar mensajes","warning");
              return;
          }

          $.ajax({
            dataType: "text",
            url: "/getCredits",
            data: { api: api },
            type: "get",
            success: function(response) {

              var data = JSON.parse(response)
              if(data.success){
                $("#apiform").get()[0].reset();
                swal("Mensaje",data.message + ": " + data.credit,"info");
              }else{
                swal("Error",data.message, "warning");
              }
            }
          });
        });

    </script>
  </body>
</html>
